
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="news-slider" class="owl-carousel">
                <% products.forEach((product, index) => { %>
                   <a href="/products/<%= product._id %>">  
                    <div class="post-slide">
                        <div class="post-img ml-3">
                          <img src="<%= product.productImages[0].secure_url %>" alt="product Image">
                          <a href="/products/<%= product._id %>" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="post-content d-flex align-items-center">
                          <div class="d-flex flex-column">
                            <h3 class="post-title mt-3">
                              <a href="#"><%= product.productTitle %></a>
                            </h3>
                            <span class="post-date"><span>&#8377</span> <%= product.productPrice %></span>
                          </div>
                          <div class="ml-auto">
                            <button type="button" class="btn btn-dark newArrivalsAddToCartBtn"  data-product-id="<%= product._id %>" >Add to cart</button>
                          </div>
                        </div>
                      </div>
                   </a>
                  <% }); %>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addedSuccess" tabindex="-1" aria-labelledby="addedSuccesslabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addedSuccesslabel">Added to cart</h5>
      </div>
      </div>
    </div>
  </div>


<script src="../js/addToCart.js"></script>
<script src="../js/cart.js"></script>