<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header');%>


<body>
<div class="fixed">
  <%- include('../partials/navbar');%>
</div>

<div class="container ">
    <h2 class="d-flex justify-content-center mb-5 mt-5">
     Cart
    </h2>
    <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Subtotal</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% populatedCart.cartItems.forEach((cartItem, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="<%= cartItem.product.productImages[0].secure_url %>" style="width: 60px; height: 80px;" alt="">
                    <p product-data-id="<%= cartItem.product._id %>" class="ml-3 cartItemProduct"><%= cartItem.product.productTitle %></p>
                  </div>
                </td>
                <td>
                  
                <div class="cart-item">
                  
                  <div class="d-flex flex-row align-items-center qty">
                    <button class="btn btn-light"> 
                      <i class="fa fa-minus mt-3 text-danger decreaseQty" data-product-id="<%= cartItem.product._id %>"></i>
                    </button>
                    <h5 class="text-grey mt-4 pl-4 pr-4 quantity"><%= cartItem.quantity %></h5>
                    <button class="btn btn-light">
                      <i class="fa fa-plus mt-3 text-success increaseQty" data-product-id="<%= cartItem.product._id %>"></i>
                    </button>
                  </div>
                  
              </div>
               </td>
               <td class="pt-4 productPrice" data-price="<%= cartItem.product.productPrice %>" data-product-id="<%= cartItem.product._id %>">
                ₹<%= cartItem.product.productPrice %>
              </td>
              <td class="pt-4 subTotal" data-subtotal="<%= cartItem.product.productPrice * cartItem.quantity %>" data-subtotal-cell="true" data-product-id="<%= cartItem.product._id %>">
                ₹<%= cartItem.product.productPrice * cartItem.quantity %>
              </td>
              
                <td>
                  <button class="deleteCartItem btn btn-danger mt-3" data-delete="<%= cartItem._id %>" cart-id="<%= populatedCart._id %>">Remove</button>
                </td>
              </tr>
            <% }); %>
          </tbody>
          
          
        </table>
      </div>

      <div class="d-flex justify-content-center mt-1">
        <p>Pay <strong>₹15</strong> more to EXPRESS Shipping</p>
      </div>

      <div class="d-flex justify-content-center mt-5">
        <div class="d-flex flex-column ml-5 border p-4 w-50">
            <div class="mb-3">
                <input type="radio" class="shipping" name="shipping" id="freeShipping" value="FreeShipping">
                <label for="freeShipping" class="ml-2">Free Shipping</label>
            </div>
            <div class="mb-3">
                <input type="radio" class="shipping" name="shipping" id="expressShipping" value="express">
                <label for="expressShipping" class="ml-2">Express Shipping (+15)</label>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
                <p class="mb-0">Subtotal</p>
                <span class="ml-auto">&#8377;</span> <p class="mb-0" id="subTotalCheckout">0.00</p>
            </div>
            <div class="d-flex flex-row justify-content-between mb-3">
                <p class="mb-0">Total</p>
                <span class="ml-auto">&#8377;</span> <p class="mb-0" id="totalCheckout">0.00</p>
            </div>
            <div>
                <button class="w-100 btn btn-dark text-light" id="checkoutBtnId">Checkout</button>
            </div>
        </div>
    </div>
    
    
</div>


  
<div class="modal fade" id="removeCartIteSuccess" tabindex="-1" aria-labelledby="removeCartIteSuccess" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cart Item Removed</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>


 

<script src="../js/cart.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
</body>
</html>
