<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header');%>
  
  <style>
    .contents  {
      display: none;
    }
  </style>

  <body>
  <div class="fixed">
    <%- include('../partials/adminNavbar');%>
  </div>


  
  
      <div class="sidebar bg-light">
        <div class="profile_info">
          <h4 class="text-dark">Admin Panel</h4>
        </div>
        <a href="#dashboard" class="text-dark active">Dashboard</a>
        <a href="#products" class="text-dark">Products</a>
        <a href="#addProduct" class="text-dark">Add Product</a>
        <a href="#category-content" class="text-dark">Category</a>
        <a href="#banner" class="text-dark">Banner</a>
        <a href="#users" class="text-dark">Users</a>
        <a href="#orders" class="text-dark">Orders</a>
        <a href="#coupon" class="text-dark">Coupons</a>
        <button type="button" class="btn btn-danger ml-4 mt-1" id="logoutButton"> Logout</button>

      </div>

        <div class="content">
          

       <%- include('../partials/adminDashboard');%>

       <%- include('../partials/adminProduct');%>

       <%- include('../partials/adminAddProduct');%>

       <%- include('../partials/adminBanner');%>

       <%- include('../partials/adminUsers');%>

       <%- include('../partials/category');%>

       <%- include('../partials/adminOrders');%>

       <%- include('../partials/adminCoupon');%>


      </div>

      <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editProductModalLabel">Logout</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to log out ?</p>
             <button type="button" id="modalLogoutBtn" class="btn btn-danger ml-4 mt-1 btn-logout">Logout</button>
    
            </div>
          </div>
        </div>
      </div>
    </div>

      <script>
        document.addEventListener("DOMContentLoaded", function() {

      const logoutButton = document.getElementById('logoutButton');
      const modalLogoutBtn = document.getElementById('modalLogoutBtn');
      const logoutModal = new bootstrap.Modal(document.getElementById('logoutModal'));
    
    logoutButton.addEventListener('click', function () {
      logoutModal.show();
    });
    modalLogoutBtn.addEventListener('click',async function () {
      try {
        const response = await fetch('/logout', {
          method: 'POST',
        });
        if (response.ok) {
          // Redirect or perform any additional client-side logout actions
          window.location.href = '/admin/admin-login';
        }
      } catch (error) {
        console.error('Logout failed:', error);
      }
    });

          const sidebarLinks = document.querySelectorAll(".sidebar a");
          const contentSections = document.querySelectorAll(".contents");
      
          // Display the "Dashboard" content section initially
          const dashboardSection = document.getElementById("dashboard");
          dashboardSection.style.display = "block";
      
          sidebarLinks.forEach(link => {
            link.addEventListener("click", event => {
              event.preventDefault();
      
              // Hide all content sections
              contentSections.forEach(section => {
                section.style.display = "none";
              });
      
              // Show the selected content section
              const targetSectionId = link.getAttribute("href").substring(1);
              const targetSection = document.getElementById(targetSectionId);
              targetSection.style.display = "block";
            });
          });
        });
      </script>
      
      
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  </body>
</html>
