<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header');%>
         
<body>
    <%- include('../partials/navbar');%>
     
      <div class="container">
        <div class="d-flex mt-5">
          <div class="flex-shrink-0" style="width: 47.6875rem; height: 12.0625rem;">
            <p class="text-black-900" style="font-family: 'Space Grotesk'; font-size: 4rem; font-weight: 500; line-height: 4.75rem; letter-spacing: -0.125rem;"><%= bannerTitle %></p>
          </div>
        </div>
        
          <%- include('../partials/homeCarousel');%>
             
      </div>
      <div class="container mt-5">
      <h2 class="ml-5">New Arrivals</h2>

      <%- include('../partials/newArrivals');%>

      <div class="row">
        <div class="col-md-12 d-flex flex-column custom-heading">
       </div>

        <div class="d-flex justify-content-center">
          <div class="flex-shrink-0" style="width: 47.6875rem;">
            <p class="d-flex justify-content-center">FEATURED</p>
            <p class="d-flex ml-5 text-black-900" style="font-family: 'Space Grotesk'; font-size: 4rem; font-weight: 500; line-height: 4.75rem; letter-spacing: -0.125rem;"><%= featuredTitle %></p>
            <p class="d-flex justify-content-center">At vero eos et accusamus et iusto odio dignissimos <br> ducimus qui blanditiis praesentium voluptatum.</p>
          </div>
        </div>

    </div>
     
     <div class="mt-5">
      <%- include('../partials/products');%>
     </div>
      </div>
      <%- include('../partials/footerSection');%>
      
      <%- include('../partials/footer');%>
    
</body>
</html>